# Part 2: Cost of Living

In [30]:
import numpy as np
import pandas as pd
import re
import calendar

import seaborn as sns
import matplotlib.style as style

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib inline

style.use('fivethirtyeight')

In [31]:
df = pd.read_csv('./data/all_jobs.csv')
salary_df = pd.read_csv('./data/only_salary_jobs.csv')

### About Cost of Living Indices

These indices are relative to New York City (NYC). Which means that for New York City, each index should be 100(%). If another city has, for example, rent index of 120, it means that on an average in that city rents are 20% more expensive than in New York City. If a city has rent index of 70, that means on average rent in that city is 30% less expensive than in New York City.

**Cost of Living Index (Excl. Rent)** is a relative indicator of consumer goods prices, including groceries, restaurants, transportation and utilities. Cost of Living Index does not include accommodation expenses such as rent or mortgage. If a city has a Cost of Living Index of 120, it means Numbeo has estimated it is 20% more expensive than New York (excluding rent).

**Rent Index** is an estimation of prices of renting apartments in the city compared to New York City. If Rent index is 80, Numbeo has estimated that price of rents in that city is on average 20% less than the price in New York.

**Groceries Index** is an estimation of grocery prices in the city compared to New York City. To calculate this section, Numbeo uses weights of items in the "Markets" section for each city.

**Restaurants Index** is a comparison of prices of meals and drinks in restaurants and bars compared to NYC.

**Cost of Living Plus Rent Index** is an estimation of consumer goods prices including rent comparing to New York City.

**Local Purchasing Power** shows relative purchasing power in buying goods and services in a given city for the average net salary in that city. If domestic purchasing power is 40, this means that the inhabitants of that city with an average salary can afford to buy on an average 60% less goods and services than New York City residents with an average salary.

*Source: [numbeo.com](https://www.numbeo.com/cost-of-living/cpi_explained.jsp)*

In [32]:
cost_living_df = pd.read_csv('./data/cost_of_living_mid_2020.csv')

In [33]:
cost_living_df.drop(columns=['Unnamed: 0', 'Rank'], inplace = True)
cost_living_df.head()

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,New York NY United States,100.00,100.00,100.00,100.00,100.00,100.00
1,San Francisco CA United States,92.13,109.76,100.72,89.79,88.26,139.00
2,Anchorage AK United States,90.83,36.51,64.38,89.86,75.91,119.91
3,Nassau Bahamas,89.57,38.57,64.73,76.56,83.50,45.96
4,Oakland CA United States,88.68,79.83,84.37,94.92,72.03,97.98

In [34]:
def united_states_only_func(col, df):
    """
    Chooses only United States cities.
    """
    temp = df[df[col].str.contains('United States', regex=False, case=False, na=False)]
    # Get rif of word 'United States' before returning df
    temp['City'] = temp['City'].str.strip('United States')
    return temp

In [35]:
us_cost_living_df = united_states_only_func('City', cost_living_df)

/Users/cristobalza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
us_cost_living_df.head()

,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,New York NY,100.00,100.00,100.00,100.00,100.00,100.00
1,Francisco CA,92.13,109.76,100.72,89.79,88.26,139.00
2,Anchorage AK,90.83,36.51,64.38,89.86,75.91,119.91
4,Oakland CA,88.68,79.83,84.37,94.92,72.03,97.98
5,Boston MA,88.61,75.13,82.05,89.28,84.34,107.59

In [44]:
# Cleaning some names
us_cost_living_df['City'] = us_cost_living_df['City'].replace('Francisco CA', 'San Francisco ')
us_cost_living_df['City'] = us_cost_living_df['City'].replace('cramento CA', 'Sacramento CA')
us_cost_living_df['City'] = us_cost_living_df['City'].replace('le WA', 'Seattle WA')
us_cost_living_df['City'] = us_cost_living_df['City'].replace('Jose CA', 'San Jose CA')
us_cost_living_df['City'] = us_cost_living_df['City'].replace('Diego CA', 'San Diego CA')
us_cost_living_df['City'] = us_cost_living_df['City'].replace('pokane WA', 'Spokane WA')
us_cost_living_df['City'] = us_cost_living_df['City'].replace('lt Lake City UT', 'Salt Lake City UT')
us_cost_living_df['City'] = us_cost_living_df['City'].replace('Wichita K', 'Wichita KS')

/Users/cristobalza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/cristobalza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/cristobalza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/cristobalza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/cristobalza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/cristobalza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/cristobalza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [45]:
us_cost_living_df['City'].unique()

array(['New York NY', 'Francisco CA', 'Anchorage AK', 'Oakland CA',
       'Boston MA', 'Seattle WA', 'Honolulu HI', 'Washington DC',
       'Miami FL', 'Charleston SC', 'Minneapolis MN', 'Chicago IL',
       'Fort Lauderdale FL', 'Portland OR', 'Irvine CA', 'Los Angeles CA',
       'Philadelphia PA', 'Pittsburgh PA', 'Cleveland OH', 'Milwaukee WI',
       'Sacramento CA', 'San Diego CA', 'Asheville NC', 'San Jose CA',
       'New Orleans LA', 'Birmingham AL', 'Tampa FL', 'Atlanta GA',
       'Charlotte NC', 'Baltimore MD', 'Ann Arbor MI', 'Rochester NY',
       'Denver CO', 'Spokane WA', 'Columbus OH', 'Albany NY',
       'Colorado Springs CO', 'Knoxville TN', 'Orlando FL',
       'Nashville TN', 'Buffalo NY', 'Olympia WA', 'Kansas City MO',
       'Jacksonville FL', 'Raleigh NC', 'Detroit MI', 'Tucson AZ',
       'Eugene OR', 'Reno NV', 'Richmond VA', 'Las Vegas NV',
       'Louisville KY', 'Houston TX', 'Toledo OH', 'Des Moines IA',
       'Antonio TX', 'Phoenix AZ', 'Tulsa OK', 'Madison WI',
       'Salt Lake City UT', 'Dallas TX', 'Indianapolis IN',
       'Little Rock AR', 'Austin TX', 'Cincinnati OH', 'Albuquerque NM',
       'Fresno CA', 'Memphis TN', 'Huntsville AL', 'Wichita KS',
       'Boise ID', 'El Paso TX'], dtype=object)