In [12]:
import numpy as np
import pandas as pd
import re
import calendar

import seaborn as sns
import matplotlib.style as style


import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib inline

style.use('fivethirtyeight')

In [31]:
a = pd.read_csv('outputs/job_postings_data_scientist_Atlanta, GA.csv')
b = pd.read_csv('outputs/job_postings_data_scientist_Austin, TX.csv')
c = pd.read_csv('outputs/job_postings_data_scientist_Baltimore, MD.csv')
d = pd.read_csv('outputs/job_postings_data_scientist_Boston, MA.csv')
e = pd.read_csv('outputs/job_postings_data_scientist_Boulder, CO.csv')
f = pd.read_csv('outputs/job_postings_data_scientist_Charlotte, NC.csv')
g = pd.read_csv('outputs/job_postings_data_scientist_Colorado Springs, CO.csv')
h = pd.read_csv('outputs/job_postings_data_scientist_Columbus, OH.csv')
i = pd.read_csv('outputs/job_postings_data_scientist_Dallas, TX.csv')
j = pd.read_csv('outputs/job_postings_data_scientist_Denver, CO.csv')
k = pd.read_csv('outputs/job_postings_data_scientist_Durham, NC.csv')
l = pd.read_csv('outputs/job_postings_data_scientist_Hayward, CA.csv')
m = pd.read_csv('outputs/job_postings_data_scientist_Houston, TX.csv')
n = pd.read_csv('outputs/job_postings_data_scientist_Huntsville, AL.csv')
o = pd.read_csv('outputs/job_postings_data_scientist_Los Angeles, CA.csv')
p = pd.read_csv('outputs/job_postings_data_scientist_Madison, WI.csv')
q = pd.read_csv('outputs/job_postings_data_scientist_New York, NY.csv')
r = pd.read_csv('outputs/job_postings_data_scientist_Oakland, CA.csv')
s = pd.read_csv('outputs/job_postings_data_scientist_Raleigh, NC.csv')
t = pd.read_csv('outputs/job_postings_data_scientist_San Diego, CA.csv')
u = pd.read_csv('outputs/job_postings_data_scientist_San Francisco.csv')
v = pd.read_csv('outputs/job_postings_data_scientist_San Jose, CA.csv')
w = pd.read_csv('outputs/job_postings_data_scientist_Santa Clara, CA.csv')
x = pd.read_csv('outputs/job_postings_data_scientist_Seattle, WA.csv')
y = pd.read_csv('outputs/job_postings_data_scientist_Sunnyvale, CA.csv')
z = pd.read_csv('outputs/job_postings_data_scientist_Trenton, NJ.csv')
alfa = pd.read_csv('outputs/job_postings_data_scientist_Washington, D.C..csv')
beta = pd.read_csv('outputs/job_postings_data_scientist_all_cities.csv')
gamma = pd.read_csv('outputs/job_postings_data_scientist_sf.csv')

In [32]:
arr = [a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,e,s,t,u,v,w,x,y,z,alfa, beta, gamma]
df = pd.concat(arr)

In [33]:
def getting_to_know(df, question=None):
    display(df.shape)
    display(df.columns)
    if question == 'y':
        display(df.head())
        display(df.tail())
    print('--------------------------END--------------------------------')
getting_to_know(df)

(9450, 10)

Index(['job_title', 'salary', 'company', 'location', 'is_remote', 'job_rating',
       'job_summary', 'post_date', 'extract_date', 'job_url'],
      dtype='object')

--------------------------END--------------------------------

In [34]:
# Missing values
def missing_values_func(df):
    """
    @author: Cristobal Zamorano Astudillo
    
    Personalize Missing Data Function
    
    Paramaters
    ----------
    df : DataFrame of interest
    
    Returns
    -------
    A string with counting all the features of the input DataFrame. If some values are missing, then 
    function will return a DataFrame with the following:
    - Index as the features with the missing values
    - A `Missing Values Count` Feature that tells the exact number of rows that has a misssing value in that feature index.
    - A `% of Total Values` that tells how much are the missing values of that feature with respect to the other missing values.
    """
    
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values Count', 1 : '% of Total Values'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)


    # Returns
    if mis_val_table_ren_columns.empty:
        return f'Your selected dataframe has  {df.shape[1]} features. There are  {mis_val_table_ren_columns.shape[0]} features that have missing values.'
    else:
        display(mis_val_table_ren_columns.style.background_gradient(cmap='Reds'))
        return f'Your selected dataframe has  {df.shape[1]} features. There are  {mis_val_table_ren_columns.shape[0]} features that have missing values.'
        
missing_values_func(df)

'Your selected dataframe has  10 features. There are  3 features that have missing values.'

In [35]:
df['job_title'].value_counts()

Data Scientist                                                                                 961
Senior Data Scientist                                                                          344
Machine Learning Engineer                                                                      183
Senior Data Analyst                                                                            139
Senior Machine Learning Engineer                                                                69
                                                                                              ...
Government & Public Sector - Data Science Senior Consultant - McLean, VA (SECRET CLEARANCE)      1
Junior/Senior Statistical Programmer Analyst Consultant                                          1
Data Scientist - Machine Learning scientist                                                      1
Senior Data Analyst, Growth Marketing                                                            1
Research Project Assistant I - Data Science                                                      1
Name: job_title, Length: 2913, dtype: int64

In [36]:
df['salary'].value_counts()

$77.55 - $82.55 an hour       37
$60 - $70 an hour             27
$126,000 - $165,000 a year    22
$250,000 a year               22
$125,000 - $300,000 a year    18
                              ..
$55,000 - $60,000 a year       1
$145,000 - $190,000 a year     1
$110,000 - $135,000 a year     1
$155,000 - $160,000 a year     1
$130,000 - $175,000 a year     1
Name: salary, Length: 213, dtype: int64

In [37]:
df['is_remote'].value_counts()

Remote                791
Temporarily remote    444
Name: is_remote, dtype: int64

In [38]:
df.iloc[402]

job_title                                     Lead Data Scientist
salary                                                        NaN
company                                                   Nielsen
location                                             Columbia, MD
is_remote                                                     NaN
job_rating                                                    3.8
job_summary     Knowledge of ETL pipelining and data warehousi...
post_date                                             27 days ago
extract_date                                           2021-01-10
job_url         https://www.indeed.com/rc/clk?jk=ab2b326fb9236...
Name: 72, dtype: object