In [1]:
import numpy as np
import pandas as pd
import re
import calendar

import seaborn as sns
import matplotlib.style as style


import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib inline

style.use('fivethirtyeight')

In [2]:
a = pd.read_csv('outputs/job_postings_data_scientist_Atlanta, GA.csv')
b = pd.read_csv('outputs/job_postings_data_scientist_Austin, TX.csv')
c = pd.read_csv('outputs/job_postings_data_scientist_Baltimore, MD.csv')
d = pd.read_csv('outputs/job_postings_data_scientist_Boston, MA.csv')
e = pd.read_csv('outputs/job_postings_data_scientist_Boulder, CO.csv')
f = pd.read_csv('outputs/job_postings_data_scientist_Charlotte, NC.csv')
g = pd.read_csv('outputs/job_postings_data_scientist_Colorado Springs, CO.csv')
h = pd.read_csv('outputs/job_postings_data_scientist_Columbus, OH.csv')
i = pd.read_csv('outputs/job_postings_data_scientist_Dallas, TX.csv')
j = pd.read_csv('outputs/job_postings_data_scientist_Denver, CO.csv')
k = pd.read_csv('outputs/job_postings_data_scientist_Durham, NC.csv')
l = pd.read_csv('outputs/job_postings_data_scientist_Hayward, CA.csv')
m = pd.read_csv('outputs/job_postings_data_scientist_Houston, TX.csv')
n = pd.read_csv('outputs/job_postings_data_scientist_Huntsville, AL.csv')
o = pd.read_csv('outputs/job_postings_data_scientist_Los Angeles, CA.csv')
p = pd.read_csv('outputs/job_postings_data_scientist_Madison, WI.csv')
q = pd.read_csv('outputs/job_postings_data_scientist_New York, NY.csv')
r = pd.read_csv('outputs/job_postings_data_scientist_Oakland, CA.csv')
s = pd.read_csv('outputs/job_postings_data_scientist_Raleigh, NC.csv')
t = pd.read_csv('outputs/job_postings_data_scientist_San Diego, CA.csv')
u = pd.read_csv('outputs/job_postings_data_scientist_San Francisco.csv')
v = pd.read_csv('outputs/job_postings_data_scientist_San Jose, CA.csv')
w = pd.read_csv('outputs/job_postings_data_scientist_Santa Clara, CA.csv')
x = pd.read_csv('outputs/job_postings_data_scientist_Seattle, WA.csv')
y = pd.read_csv('outputs/job_postings_data_scientist_Sunnyvale, CA.csv')
z = pd.read_csv('outputs/job_postings_data_scientist_Trenton, NJ.csv')
alfa = pd.read_csv('outputs/job_postings_data_scientist_Washington, D.C..csv')
beta = pd.read_csv('outputs/job_postings_data_scientist_all_cities.csv')
gamma = pd.read_csv('outputs/job_postings_data_scientist_sf.csv')

In [3]:
arr = [a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,e,s,t,u,v,w,x,y,z,alfa, beta, gamma]
df = pd.concat(arr)

In [4]:
def getting_to_know(df, question=None):
    display(df.shape)
    display(df.columns)
    if question == 'y':
        display(df.head())
        display(df.tail())
    print('--------------------------END--------------------------------')
getting_to_know(df)

(9450, 10)

Index(['job_title', 'salary', 'company', 'location', 'is_remote', 'job_rating',
       'job_summary', 'post_date', 'extract_date', 'job_url'],
      dtype='object')

--------------------------END--------------------------------

In [5]:
# Missing values
def missing_values_func(df):
    """
    @author: Cristobal Zamorano Astudillo
    
    Personalize Missing Data Function
    
    Paramaters
    ----------
    df : DataFrame of interest
    
    Returns
    -------
    A string with counting all the features of the input DataFrame. If some values are missing, then 
    function will return a DataFrame with the following:
    - Index as the features with the missing values
    - A `Missing Values Count` Feature that tells the exact number of rows that has a misssing value in that feature index.
    - A `% of Total Values` that tells how much are the missing values of that feature with respect to the other missing values.
    """
    
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values Count', 1 : '% of Total Values'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)


    # Returns
    if mis_val_table_ren_columns.empty:
        return f'Your selected dataframe has  {df.shape[1]} features. There are  {mis_val_table_ren_columns.shape[0]} features that have missing values.'
    else:
        display(mis_val_table_ren_columns.style.background_gradient(cmap='Reds'))
        return f'Your selected dataframe has  {df.shape[1]} features. There are  {mis_val_table_ren_columns.shape[0]} features that have missing values.'
        
missing_values_func(df)

'Your selected dataframe has  10 features. There are  3 features that have missing values.'

In [35]:
df['job_title'].value_counts()

Data Scientist                                                                                 961
Senior Data Scientist                                                                          344
Machine Learning Engineer                                                                      183
Senior Data Analyst                                                                            139
Senior Machine Learning Engineer                                                                69
                                                                                              ...
Government & Public Sector - Data Science Senior Consultant - McLean, VA (SECRET CLEARANCE)      1
Junior/Senior Statistical Programmer Analyst Consultant                                          1
Data Scientist - Machine Learning scientist                                                      1
Senior Data Analyst, Growth Marketing                                                            1
Research Project Assistant I - Data Science                                                      1
Name: job_title, Length: 2913, dtype: int64

In [36]:
df['salary'].value_counts()

$77.55 - $82.55 an hour       37
$60 - $70 an hour             27
$126,000 - $165,000 a year    22
$250,000 a year               22
$125,000 - $300,000 a year    18
                              ..
$55,000 - $60,000 a year       1
$145,000 - $190,000 a year     1
$110,000 - $135,000 a year     1
$155,000 - $160,000 a year     1
$130,000 - $175,000 a year     1
Name: salary, Length: 213, dtype: int64

In [37]:
df['is_remote'].value_counts()

Remote                791
Temporarily remote    444
Name: is_remote, dtype: int64

In [6]:
df.columns

Index(['job_title', 'salary', 'company', 'location', 'is_remote', 'job_rating',
       'job_summary', 'post_date', 'extract_date', 'job_url'],
      dtype='object')

In [7]:
df.head()

,job_title,salary,company,location,is_remote,job_rating,job_summary,post_date,extract_date,job_url
0,"Data Scientist, Consultant",NaN,Guidehouse,"Atlanta, GA",NaN,3.4,This high performing team works with clients t...,Just posted,2021-01-10,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
1,Data Scientist - Remote,NaN,SemanticBits LLC,"Atlanta, GA",Remote,4.2,Three or more years working in a data scientis...,30+ days ago,2021-01-10,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
2,Data Scientist,NaN,Booz Allen Hamilton,"Atlanta, GA",NaN,3.9,Provide your customer with a deep understandin...,4 days ago,2021-01-10,https://www.indeed.com/rc/clk?jk=72b01fd91a6fd...
3,Data Scientist,"Up to $120,000 a year",Nfinity LLC,"Atlanta, GA",Temporarily remote,4.2,The candidate will be responsible for data mod...,2 days ago,2021-01-10,https://www.indeed.com/company/NFinity-LLC/job...
4,Strategic Analytics – Data Scientist,NaN,Deloitte,"Atlanta, GA",NaN,4.0,1-2 years of relevant work experience as a dat...,30+ days ago,2021-01-10,https://www.indeed.com/rc/clk?jk=9cd76edc8c716...

Drop the duplicate jobs by using their link.

In [8]:
df.drop_duplicates(subset='job_url', keep = 'first', inplace = True)

In [9]:
getting_to_know(df)

(5421, 10)

Index(['job_title', 'salary', 'company', 'location', 'is_remote', 'job_rating',
       'job_summary', 'post_date', 'extract_date', 'job_url'],
      dtype='object')

--------------------------END--------------------------------

In [15]:
df['location'].value_counts().index.to_list()

['San Francisco, CA',
 'New York, NY',
 'Seattle, WA',
 'Boston, MA',
 'Washington, DC',
 'Santa Clara, CA',
 'San Jose, CA',
 'Atlanta, GA',
 'Menlo Park, CA',
 'Palo Alto, CA',
 'Mountain View, CA',
 'Los Angeles, CA',
 'Santa Clara Valley, CA',
 'San Diego, CA',
 'Cambridge, MA',
 'Austin, TX',
 'Arlington, VA',
 'Raleigh, NC',
 'Dallas, TX',
 'Houston, TX',
 'Sunnyvale, CA',
 'Charlotte, NC',
 'Redwood City, CA',
 'McLean, VA',
 'Denver, CO',
 'Princeton, NJ',
 'Redmond, WA',
 'California',
 'Oakland, CA',
 'Fort Meade, MD',
 'San Mateo, CA',
 'Durham, NC',
 'Columbus, OH',
 'San Francisco Bay Area, CA',
 'United States',
 'Bellevue, WA',
 'Santa Monica, CA',
 'Alexandria, VA',
 'Boulder, CO',
 'Plano, TX',
 'South San Francisco, CA',
 'Baltimore, MD',
 'Walnut Creek, CA',
 'Columbia, MD',
 'Herndon, VA',
 'Gaithersburg, MD',
 'Irving, TX',
 'Fremont, CA',
 'Reston, VA',
 'Foster City, CA',
 'Chantilly, VA',
 'Waltham, MA',
 'Laurel, MD',
 'Somerville, MA',
 'Huntsville, AL',
 'Cupertino, CA',
 'Rockville, MD',
 'Cary, NC',
 'Lexington, MA',
 'Pleasanton, CA',
 'Annapolis Junction, MD',
 'Springfield, VA',
 'San Carlos, CA',
 'Jersey City, NJ',
 'Madison, WI',
 'Alpharetta, GA',
 'Bethesda, MD',
 'Berkeley, CA',
 'El Segundo, CA',
 'Milpitas, CA',
 'Glendale, CA',
 'East Palo Alto, CA',
 'Golden, CO',
 'Colorado Springs, CO',
 'Patuxent River Estates, MD',
 'Brooklyn, NY',
 'Fairfax, VA',
 'Long Island City, NY',
 'Morrisville, NC',
 'Vienna, VA',
 'Tysons, VA',
 'Research Triangle Park, NC',
 'Englewood, CO',
 'Los Gatos, CA',
 'Stanford, CA',
 'Falls Church, VA',
 'Framingham, MA',
 'Livermore, CA',
 'Fort Belvoir, VA',
 'Manhattan, NY',
 'Burlington, MA',
 'Bedford, MA',
 'Richardson, TX',
 'Los Altos, CA',
 'Everett, WA',
 'San Ramon, CA',
 'East Hanover, NJ',
 'Newark, CA',
 'Burlingame, CA',
 'Tysons Corner, VA',
 'Emeryville, CA',
 'Woodland Hills, CA',
 'Suitland, MD',
 'Burbank, CA',
 'Alameda, CA',
 'Brea, CA',
 'College Park, MD',
 'Wilmington, MA',
 'Wellesley, MA',
 'Titusville, NJ',
 'Sterling, VA',
 'Cypress, CA',
 'Beverly, MA',
 'Chevy Chase, MD',
 'Hunt Valley, MD',
 'Aurora, CO',
 'Bothell, WA',
 'Newark, NJ',
 'Plainsboro, NJ',
 'Kirkland, WA',
 'Culver City, CA',
 'Dulles, VA',
 'Berkeley Heights, NJ',
 'Florham Park, NJ',
 'Timonium, MD',
 'Northridge, CA',
 'San Rafael, CA',
 'Brighton, MA',
 'Annapolis, MD',
 'Arlington County, VA',
 'Danvers, MA',
 'Renton, WA',
 'Dublin, CA',
 'La Jolla, CA',
 'Weston, MA',
 'Dublin, OH',
 'Lewisville, TX',
 'La Cañada Flintridge, CA',
 'Whippany, NJ',
 'Littleton, CO',
 'Fullerton, CA',
 'Hoboken, NJ',
 'Silver Spring, MD',
 'Watertown, MA',
 'Louisville, CO',
 'Duluth, GA',
 'Horsham, PA',
 'Campbell, CA',
 'Davidson, NC',
 'College Point, NY',
 'Broomfield, CO',
 'West Menlo Park, CA',
 'Southlake, TX',
 'Silicon Valley, CA',
 'Allen, TX',
 'Marina del Rey, CA',
 'Woodbridge, NJ',
 'Las Colinas, TX',
 'Rosslyn, VA',
 'Beltsville, MD',
 'Englewood Cliffs, NJ',
 'Deer Park, TX',
 'Longmont, CO',
 'Peabody, MA',
 'Natick, MA',
 'Hyattsville, MD',
 'Somerset, NJ',
 'Lorton, VA',
 'Lakewood, CO',
 'Novato, CA',
 'Germantown, MD',
 'Ashburn, VA',
 'Fort Mill, SC',
 'Woodlawn, MD',
 'Fairfield, NJ',
 'Gardena, CA',
 'Hanover, MD',
 'San Bruno, CA',
 'Needham, MA',
 'Westerville, OH',
 'Poway, CA',
 'Woburn, MA',
 'Newton, MA',
 'Roseland, NJ',
 'Somerville, NJ',
 'Short Hills, NJ',
 'Cardiff-by-the-Sea, CA',
 'Parsippany, NJ',
 'Kenilworth, NJ',
 'Lowell, MA',
 'Richmond, CA',
 'Edgewater Park, NJ',
 'Torrance, CA',
 'Franklin Lakes, NJ',
 'Rosemead, CA',
 'Cranbury, NJ',
 'Woodcliff Lake, NJ',
 'North Reading, MA',
 'Alhambra, CA',
 'New Brunswick, NJ',
 'Pasadena, CA',
 'Linthicum Heights, MD',
 'Quincy, MA',
 'Anaheim, CA',
 'Monmouth Junction, NJ',
 'Monrovia, CA',
 'Flemington, NJ',
 'Round Rock, TX',
 'Centennial, CO',
 'Greenwood Village, CO',
 'Township of Franklin, NJ',
 'Charlestown, MA',
 'Arlington, MA',
 'Kent, WA',
 'Adelphi, MD',
 'Peterson AFB, CO',
 'Ewing, NJ',
 'Chapel Hill, NC',
 'Westminster, CO',
 'Encinitas, CA',
 'Lynnfield, MA',
 'Philadelphia, PA',
 'Pasadena, TX',
 'Addison, TX',
 'Fulton, MD',
 'North Arlington, NJ',
 'Chalfont, PA',
 'Dunwoody, GA',
 'Lanham, MD',
 'Moorestown, NJ',
 'Indian Head, MD',
 'Brookline, MA',
 'Marlborough, MA',
 'Webster, TX',
 'Manhasset, NY',
 'Lafayette, CO',
 'La Mirada, CA',
 'Foxborough, MA',
 'Middleton, WI',
 'New Providence, NJ',
 'Glen Echo, MD',
 'Metuchen, NJ',
 'Belcamp, MD',
 'Ellicott City, MD',
 'Irwindale, CA',
 'Gwynn Oak, MD',
 'Santa Cruz, CA',
 'Grand Prairie, TX',
 'Teaneck, NJ',
 'Port Washington, NY',
 'East Brunswick, NJ',
 'Alabama',
 'Fort Washington, PA',
 'Half Moon Bay, CA',
 'Norcross, GA',
 'Montgomery County, MD',
 'DeForest, WI',
 'Jessup, MD',
 'Elkridge, MD',
 'San Leandro, CA',
 'Belmont, CA',
 'Summit, NJ',
 'Cherry Hill, NJ',
 'Union City, CA',
 'Andover, MA',
 'Farmers Branch, TX',
 'Maynard, MA',
 'Stone Mountain, GA',
 'Diamond Bar, CA',
 'Crystal City, VA',
 'Millersville, MD',
 'Frisco, TX',
 'Concord, MA',
 'Ridgefield Park, NJ',
 'Cockeysville, MD',
 'Fort George G Meade, MD',
 'Malden, MA',
 'Gahanna, OH',
 'Tacoma, WA',
 'Manhattan Beach, CA',
 'Spring, TX',
 'Highlands Ranch, CO',
 'Maurer, NJ',
 'Venice, CA',
 'Elkins Park, PA',
 'Smyrna, GA',
 'Takoma Park, MD',
 'Johns Creek, GA',
 'Carrollton, TX',
 'Carle Place, NY',
 'Millbrae, CA',
 'New Jersey',
 'Dallas-Fort Worth, TX',
 'Fort Washington, MD',
 'Roswell, GA',
 'Kearny, NJ',
 'Arlington, TX',
 'Capitol Hill, WA',
 'Tucker, GA',
 'Hayward, CA',
 'Edgewood, MD',
 'Peachtree Corners, GA',
 'Long Beach, CA']

In [17]:
df[df['location'] == 'Alabama']

,job_title,salary,company,location,is_remote,job_rating,job_summary,post_date,extract_date,job_url
15,Deep Learning Engineer,NaN,Numerator,Alabama,NaN,3.6,Demonstrated ability to drive selection of mac...,19 days ago,2021-01-10,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...

Only one job is located in 'Alabama'