# Part 1

General Overview:

1. Understand the shape of the data
2. Data Exploration
3. Data Cleaning
4. Data Preprocessing for Model

In [52]:
import numpy as np
import pandas as pd
import re
import calendar

import seaborn as sns
import matplotlib.style as style

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib inline

style.use('fivethirtyeight')

In [53]:
# Data Scientists Job Postings
a = pd.read_csv('outputs/job_postings_data_scientist_Atlanta, GA.csv')
b = pd.read_csv('outputs/job_postings_data_scientist_Austin, TX.csv')
c = pd.read_csv('outputs/job_postings_data_scientist_Baltimore, MD.csv')
d = pd.read_csv('outputs/job_postings_data_scientist_Boston, MA.csv')
e = pd.read_csv('outputs/job_postings_data_scientist_Boulder, CO.csv')
f = pd.read_csv('outputs/job_postings_data_scientist_Charlotte, NC.csv')
g = pd.read_csv('outputs/job_postings_data_scientist_Colorado Springs, CO.csv')
h = pd.read_csv('outputs/job_postings_data_scientist_Columbus, OH.csv')
i = pd.read_csv('outputs/job_postings_data_scientist_Dallas, TX.csv')
j = pd.read_csv('outputs/job_postings_data_scientist_Denver, CO.csv')
k = pd.read_csv('outputs/job_postings_data_scientist_Durham, NC.csv')
l = pd.read_csv('outputs/job_postings_data_scientist_Hayward, CA.csv')
m = pd.read_csv('outputs/job_postings_data_scientist_Houston, TX.csv')
n = pd.read_csv('outputs/job_postings_data_scientist_Huntsville, AL.csv')
o = pd.read_csv('outputs/job_postings_data_scientist_Los Angeles, CA.csv')
p = pd.read_csv('outputs/job_postings_data_scientist_Madison, WI.csv')
q = pd.read_csv('outputs/job_postings_data_scientist_New York, NY.csv')
r = pd.read_csv('outputs/job_postings_data_scientist_Oakland, CA.csv')
s = pd.read_csv('outputs/job_postings_data_scientist_Raleigh, NC.csv')
t = pd.read_csv('outputs/job_postings_data_scientist_San Diego, CA.csv')
u = pd.read_csv('outputs/job_postings_data_scientist_San Francisco.csv')
v = pd.read_csv('outputs/job_postings_data_scientist_San Jose, CA.csv')
w = pd.read_csv('outputs/job_postings_data_scientist_Santa Clara, CA.csv')
x = pd.read_csv('outputs/job_postings_data_scientist_Seattle, WA.csv')
y = pd.read_csv('outputs/job_postings_data_scientist_Sunnyvale, CA.csv')
z = pd.read_csv('outputs/job_postings_data_scientist_Trenton, NJ.csv')
alfa = pd.read_csv('outputs/job_postings_data_scientist_Washington, D.C..csv')
beta = pd.read_csv('outputs/job_postings_data_scientist_all_cities.csv')
gamma = pd.read_csv('outputs/job_postings_data_scientist_sf.csv')

In [54]:
arr = [a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,e,s,t,u,v,w,x,y,z,alfa, beta, gamma]
df_1 = pd.concat(arr)

In [55]:
# Data Analyst Job Postings
a = pd.read_csv('outputs_2/job_postings_data_analyst_Atlanta, GA.csv')
b = pd.read_csv('outputs_2/job_postings_data_analyst_Austin, TX.csv')
c = pd.read_csv('outputs_2/job_postings_data_analyst_Baltimore, MD.csv')
d = pd.read_csv('outputs_2/job_postings_data_analyst_Boston, MA.csv')
e = pd.read_csv('outputs_2/job_postings_data_analyst_Boulder, CO.csv')
f = pd.read_csv('outputs_2/job_postings_data_analyst_Charlotte, NC.csv')
g = pd.read_csv('outputs_2/job_postings_data_analyst_Colorado Springs, CO.csv')
h = pd.read_csv('outputs_2/job_postings_data_analyst_Columbus, OH.csv')
i = pd.read_csv('outputs_2/job_postings_data_analyst_Dallas, TX.csv')
j = pd.read_csv('outputs_2/job_postings_data_analyst_Denver, CO.csv')
k = pd.read_csv('outputs_2/job_postings_data_analyst_Durham, NC.csv')
l = pd.read_csv('outputs_2/job_postings_data_analyst_Hayward, CA.csv')
m = pd.read_csv('outputs_2/job_postings_data_analyst_Houston, TX.csv')
n = pd.read_csv('outputs_2/job_postings_data_analyst_Huntsville, AL.csv')
o = pd.read_csv('outputs_2/job_postings_data_analyst_Los Angeles, CA.csv')
p = pd.read_csv('outputs_2/job_postings_data_analyst_Madison, WI.csv')
q = pd.read_csv('outputs_2/job_postings_data_analyst_New York, NY.csv')
r = pd.read_csv('outputs_2/job_postings_data_analyst_Oakland, CA.csv')
s = pd.read_csv('outputs_2/job_postings_data_analyst_Raleigh, NC.csv')
t = pd.read_csv('outputs_2/job_postings_data_analyst_San Diego, CA.csv')
u = pd.read_csv('outputs_2/job_postings_data_analyst_San Francisco.csv')
v = pd.read_csv('outputs_2/job_postings_data_analyst_San Jose, CA.csv')
w = pd.read_csv('outputs_2/job_postings_data_analyst_Santa Clara, CA.csv')
x = pd.read_csv('outputs_2/job_postings_data_analyst_Seattle, WA.csv')
y = pd.read_csv('outputs_2/job_postings_data_analyst_Sunnyvale, CA.csv')
z = pd.read_csv('outputs_2/job_postings_data_analyst_Trenton, NJ.csv')
alfa = pd.read_csv('outputs_2/job_postings_data_analyst_Washington, D.C..csv')

In [56]:
arr = [a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,e,s,t,u,v,w,x,y,z,alfa]
df_2 = pd.concat(arr)

In [57]:
temp = [df_1, df_2]
df = pd.concat(temp)

## 1. Understanding the shape of the data

In [58]:
def getting_to_know(df, question=None):
    display(df.shape)
    display(df.columns)
    if question == 'y':
        display(df.head())
        display(df.tail())
    print('--------------------------END--------------------------------')
getting_to_know(df)

(16038, 10)

Index(['job_title', 'salary', 'company', 'location', 'is_remote', 'job_rating',
       'job_summary', 'post_date', 'extract_date', 'job_url'],
      dtype='object')

--------------------------END--------------------------------

In [59]:
# Missing values
def missing_values_func(df):
    """
    @author: Cristobal Zamorano Astudillo
    
    Personalize Missing Data Function
    
    Paramaters
    ----------
    df : DataFrame of interest
    
    Returns
    -------
    A string with counting all the features of the input DataFrame. If some values are missing, then 
    function will return a DataFrame with the following:
    - Index as the features with the missing values
    - A `Missing Values Count` Feature that tells the exact number of rows that has a misssing value in that feature index.
    - A `% of Total Values` that tells how much are the missing values of that feature with respect to the other missing values.
    """
    
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values Count', 1 : '% of Total Values'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)


    # Returns
    if mis_val_table_ren_columns.empty:
        return f'Your selected dataframe has  {df.shape[1]} features. There are  {mis_val_table_ren_columns.shape[0]} features that have missing values.'
    else:
        display(mis_val_table_ren_columns.style.background_gradient(cmap='Reds'))
        return f'Your selected dataframe has  {df.shape[1]} features. There are  {mis_val_table_ren_columns.shape[0]} features that have missing values.'
        
missing_values_func(df)

'Your selected dataframe has  10 features. There are  4 features that have missing values.'

In [60]:
df['job_title'].value_counts()

Data Scientist                                   961
Business Analyst                                 504
Data Analyst                                     485
Senior Data Scientist                            344
Senior Data Analyst                              238
                                                ...
Business Analyst: : USA residents only             1
Sr. Business Intelligence Analyst - Developer      1
Sr./Staff Engineer - Deep Learning and HCI         1
Master Production Scheduler/Business Analyst       1
Pharmaceutical Data Analyst                        1
Name: job_title, Length: 5502, dtype: int64

In [61]:
df['salary'].value_counts()

$77.55 - $82.55 an hour       37
$60 - $70 an hour             31
$250,000 a year               22
$126,000 - $165,000 a year    22
$60,000 - $80,000 a year      22
                              ..
$57,000 - $70,000 a year       1
$77,931 - $120,475 a year      1
Up to $80,000 a year           1
$125,000 - $180,000 a year     1
$107,000 - $124,000 a year     1
Name: salary, Length: 585, dtype: int64

In [62]:
df['is_remote'].value_counts()

Remote                1297
Temporarily remote     843
Name: is_remote, dtype: int64

In [63]:
df.columns

Index(['job_title', 'salary', 'company', 'location', 'is_remote', 'job_rating',
       'job_summary', 'post_date', 'extract_date', 'job_url'],
      dtype='object')

## 2. Data Cleaning

### Duplicates

Drop the duplicate jobs by using their link.

In [65]:
df.drop_duplicates(subset='job_url', keep = 'first', inplace = True)

In [66]:
getting_to_know(df)

(9966, 10)

Index(['job_title', 'salary', 'company', 'location', 'is_remote', 'job_rating',
       'job_summary', 'post_date', 'extract_date', 'job_url'],
      dtype='object')

--------------------------END--------------------------------

### Location

In [48]:
df['location'].value_counts().index.to_list()

['New York, NY',
 'San Francisco, CA',
 'Atlanta, GA',
 'Seattle, WA',
 'Washington, DC',
 'Boston, MA',
 'Austin, TX',
 'Dallas, TX',
 'Houston, TX',
 'San Jose, CA',
 'San Diego, CA',
 'Los Angeles, CA',
 'Santa Clara, CA',
 'Raleigh, NC',
 'Menlo Park, CA',
 'Mountain View, CA',
 'Palo Alto, CA',
 'Charlotte, NC',
 'Denver, CO',
 'Columbus, OH',
 'Santa Clara Valley, CA',
 'Baltimore, MD',
 'Arlington, VA',
 'Cambridge, MA',
 'Durham, NC',
 'Sunnyvale, CA',
 'Plano, TX',
 'Oakland, CA',
 'Irving, TX',
 'Redwood City, CA',
 'Princeton, NJ',
 'Fort Meade, MD',
 'McLean, VA',
 'United States',
 'Bellevue, WA',
 'Redmond, WA',
 'Columbia, MD',
 'Fremont, CA',
 'Huntsville, AL',
 'Madison, WI',
 'California',
 'San Mateo, CA',
 'Alpharetta, GA',
 'San Francisco Bay Area, CA',
 'Boulder, CO',
 'Colorado Springs, CO',
 'Santa Monica, CA',
 'Morrisville, NC',
 'Alexandria, VA',
 'South San Francisco, CA',
 'Walnut Creek, CA',
 'Jersey City, NJ',
 'Cary, NC',
 'Manhattan, NY',
 'Herndon, VA',
 'Pleasanton, CA',
 'Rockville, MD',
 'Annapolis Junction, MD',
 'Brooklyn, NY',
 'Foster City, CA',
 'Cupertino, CA',
 'Chantilly, VA',
 'Reston, VA',
 'San Ramon, CA',
 'Richardson, TX',
 'Research Triangle Park, NC',
 'Gaithersburg, MD',
 'El Segundo, CA',
 'Laurel, MD',
 'Long Island City, NY',
 'Waltham, MA',
 'Somerville, MA',
 'Woodland Hills, CA',
 'Somerset, NJ',
 'Springfield, VA',
 'Milpitas, CA',
 'Horsham, PA',
 'Newark, NJ',
 'San Carlos, CA',
 'Fairfax, VA',
 'Burbank, CA',
 'Newark, CA',
 'Lexington, MA',
 'Emeryville, CA',
 'Berkeley, CA',
 'Dublin, OH',
 'Parsippany, NJ',
 'Glendale, CA',
 'Englewood, CO',
 'Bethesda, MD',
 'Annapolis, MD',
 'Falls Church, VA',
 'Broomfield, CO',
 'Lewisville, TX',
 'Livermore, CA',
 'Queens, NY',
 'Golden, CO',
 'Norcross, GA',
 'Stanford, CA',
 'Long Beach, CA',
 'East Palo Alto, CA',
 'Frisco, TX',
 'Bothell, WA',
 'Westerville, OH',
 'Pasadena, CA',
 'Patuxent River Estates, MD',
 'Culver City, CA',
 'Tysons, VA',
 'New Brunswick, NJ',
 'Brea, CA',
 'Vienna, VA',
 'Everett, WA',
 'Alameda, CA',
 'Burlingame, CA',
 'Richmond, CA',
 'Cypress, CA',
 'Duluth, GA',
 'Silicon Valley, CA',
 'Secaucus, NJ',
 'Edison, NJ',
 'Hunt Valley, MD',
 'Owings Mills, MD',
 'Torrance, CA',
 'Compton, CA',
 'Burlington, MA',
 'Los Gatos, CA',
 'Los Altos, CA',
 'Florham Park, NJ',
 'Aurora, CO',
 'Westminster, CO',
 'Hoboken, NJ',
 'Berkeley Heights, NJ',
 'Plainsboro, NJ',
 'Timonium, MD',
 'Kirkland, WA',
 'Philadelphia, PA',
 'Framingham, MA',
 'Sterling, VA',
 'Chapel Hill, NC',
 'Chatsworth, CA',
 'Coppell, TX',
 'San Bruno, CA',
 'Renton, WA',
 'Bedford, MA',
 'Cerritos, CA',
 'Dunwoody, GA',
 'Northridge, CA',
 'Suitland, MD',
 'Fort Belvoir, VA',
 'Fullerton, CA',
 'Linthicum, MD',
 'Livingston, NJ',
 'Pennington, NJ',
 'Stafford, TX',
 'Arlington, TX',
 'Cranbury, NJ',
 'East Hanover, NJ',
 'Monmouth Junction, NJ',
 'Iselin, NJ',
 'Cherry Hill, NJ',
 'Mount Laurel, NJ',
 'San Rafael, CA',
 'New Jersey',
 'Deer Park, TX',
 'Fort Worth, TX',
 'Allen, TX',
 'Davidson, NC',
 'Texas',
 'Middleton, WI',
 'Lakewood, CO',
 'Chevy Chase, MD',
 'Titusville, NJ',
 'Township of Hamilton, NJ',
 'Tysons Corner, VA',
 'Wilmington, MA',
 'Carrollton, TX',
 'Silver Spring, MD',
 'Bronx, NY',
 'Dublin, CA',
 'Fort Mill, SC',
 'Addison, TX',
 'Hanover, MD',
 'Englewood Cliffs, NJ',
 'Tucker, GA',
 'Newton, MA',
 'Gardena, CA',
 'Franklin Lakes, NJ',
 'South Plainfield, NJ',
 'Tacoma, WA',
 'Woburn, MA',
 'La Jolla, CA',
 'Quincy, MA',
 'Dallas-Fort Worth, TX',
 'Manhattan Beach, CA',
 'Union City, CA',
 'Needham, MA',
 'Moorestown, NJ',
 'Commerce, CA',
 'Wellesley, MA',
 'Buena Park, CA',
 'Greenwood Village, CO',
 'Louisville, CO',
 'Whippany, NJ',
 'Anaheim, CA',
 'Alhambra, CA',
 'Southlake, TX',
 'Watertown, MA',
 'College Park, MD',
 'Trenton, NJ',
 'Dulles, VA',
 'Poway, CA',
 'Pearland, TX',
 'Flower Mound, TX',
 'Round Rock, TX',
 'Beverly, MA',
 'Peachtree Corners, GA',
 'Charlestown, MA',
 'Woodlawn, MD',
 'Arlington County, VA',
 'Littleton, CO',
 'Hayward, CA',
 'Roswell, GA',
 'Linthicum Heights, MD',
 'Bowie, MD',
 'Campbell, CA',
 'Irwindale, CA',
 'Brighton, MA',
 'Weston, MA',
 'Hackensack, NJ',
 'Manhasset, NY',
 'La Ca√±ada Flintridge, CA',
 'Weehawken, NJ',
 'Hillsborough, NC',
 'Marina del Rey, CA',
 'East Brunswick, NJ',
 'Ridgefield Park, NJ',
 'Beltsville, MD',
 'Woodcliff Lake, NJ',
 'Dallas County, TX',
 'Jericho, NY',
 'Pasadena, TX',
 'Elkridge, MD',
 'Danvers, MA',
 'Duarte, CA',
 'Cottage Grove, WI',
 'College Point, NY',
 'Yardley, PA',
 'Fairfield, NJ',
 'Roseland, NJ',
 'Mooresville, NC',
 'West Menlo Park, CA',
 'Marlton, NJ',
 'Woodbridge, NJ',
 'Short Hills, NJ',
 'Carle Place, NY',
 'Longmont, CO',
 'Towson, MD',
 'Germantown, MD',
 'Lake Success, NY',
 'Redondo Beach, CA',
 'Applewood, CO',
 'Flushing, NY',
 'Wake County, NC',
 'Venice, CA',
 'Catonsville, MD',
 'Centennial, CO',
 'Peterson AFB, CO',
 'Las Colinas, TX',
 'Lowell, MA',
 'New Providence, NJ',
 'Katy, TX',
 'Industry, CA',
 'Dane County, WI',
 'Lanham, MD',
 'Tukwila, WA',
 'Cardiff-by-the-Sea, CA',
 'North Quincy, MA',
 'Kent, WA',
 'Elkins Park, PA',
 'White Plains, NY',
 'Redstone Arsenal, AL',
 'Kendall Park, NJ',
 'Matawan, NJ',
 'West Hollywood, CA',
 'Sylmar, CA',
 'Garden City, NY',
 'Newtown, PA',
 'Lyndhurst, NJ',
 'Smyrna, GA',
 'Greenbelt, MD',
 'Edgewater Park, NJ',
 'Monrovia, CA',
 'Lorton, VA',
 'Arlington, MA',
 'Bellaire, TX',
 'Novato, CA',
 'Langhorne, PA',
 'Reynoldsburg, OH',
 'Valley Stream, NY',
 'Puget Sound, WA',
 'Decatur, AL',
 'Marietta, GA',
 'Belmont, CA',
 'Summit, NJ',
 'Windsor Mill, MD',
 'Andover, MA',
 'Holly Springs, NC',
 'Stone Mountain, GA',
 'North Reading, MA',
 'Trevose, PA',
 'Decatur, GA',
 'Spring, TX',
 'Township of South Brunswick, NJ',
 'New Hyde Park, NY',
 'Hyattsville, MD',
 'Doraville, GA',
 'Wayne, NJ',
 'Johns Creek, GA',
 'Kearny Mesa, CA',
 'Diamond Bar, CA',
 'Branchburg, NJ',
 'Somerville, NJ',
 'East Windsor, NJ',
 'North Arlington, NJ',
 'Gwynn Oak, MD',
 'Kenilworth, NJ',
 'Rosemead, CA',
 'Orangeburg, NY',
 'Rosslyn, VA',
 'Teaneck, NJ',
 'Grand Prairie, TX',
 'Peabody, MA',
 'Port Washington, NY',
 'Issaquah, WA',
 'Morrisville, PA',
 'Ashburn, VA',
 'Yonkers, NY',
 'Cockeysville, MD',
 'Kingwood, TX',
 'Montvale, NJ',
 'Coronado, CA',
 'Natick, MA',
 'Thornton, CO',
 'Chalfont, PA',
 'Bremerton, WA',
 'North Brunswick, NJ',
 'Seal Beach, CA',
 'Sandy Springs, GA',
 'DeKalb County, GA',
 'Fulton, MD',
 'Adelphi, MD',
 'La Mirada, CA',
 'Encinitas, CA',
 'Jefferson County, CO',
 'Elizabeth, NJ',
 'Olney, MD',
 'Jackson Heights, NY',
 'West Falls Church, VA',
 'Garner, NC',
 'Union, NJ',
 'Cheverly, MD',
 'Maynard, MA',
 'Marlborough, MA',
 'Dominguez, CA',
 'Hicksville, NY',
 'Stoneham, MA',
 'Concord, CA',
 'Lynnfield, MA',
 'Tribeca, NY',
 'Belcamp, MD',
 'Norwell, MA',
 'Ewing, NJ',
 'Indian Head, MD',
 'Westwood, MA',
 'Washington Navy Yard, DC',
 'Manhattanville, NY',
 'Foxborough, MA',
 'Middleton, MA',
 'Rutherford, NJ',
 'National City, CA',
 'Great Neck, NY',
 'Fair Lawn, NJ',
 'South Easton, MA',
 'Whittier, CA',
 'Lewis Center, OH',
 'Webster, TX',
 'Powell, OH',
 'Weymouth, MA',
 'Whitestone, NY',
 'Pikesville, MD',
 'Aberdeen Proving Ground, MD',
 'Madison, AL',
 'Raleigh-Durham, NC',
 'Belmont, NC',
 'Lynnwood, WA',
 'Medford, NJ',
 'Township of Franklin, NJ',
 'Hanover, NJ',
 'Playa Vista, CA',
 'Vallejo, CA',
 'Woodmere, NY',
 'Brookline, MA',
 'Kearny, NJ',
 'Rex, GA',
 'Malden, MA',
 'East Meadow, NY',
 'Millbrae, CA',
 'Fort George G Meade, MD',
 'Abington, PA',
 'San Gabriel Valley, CA',
 'Ellicott City, MD',
 'Hawthorne, CA',
 'Farmers Branch, TX',
 'Teterboro, NJ',
 'Crystal City, VA',
 'Troy Hills, NJ',
 'Bayonne, NJ',
 'Maurer, NJ',
 'Santa Cruz County, CA',
 'Millersville, MD',
 'Pennsauken, NJ',
 'Andrews AFB, MD',
 'Spring Valley, CA',
 'Mill Creek, WA',
 'Moffett Field, CA',
 'Gahanna, OH',
 'Century City, CA',
 'Huntersville, NC',
 'Sun Prairie, WI',
 'Rockwall, TX',
 'Haworth, NJ',
 'Half Moon Bay, CA',
 'Indian Land, SC',
 'Azusa, CA',
 'Wilmer, TX',
 'Princeton Junction, NJ',
 'Orange, CA',
 'Studio City, CA',
 'Capitol Hill, WA',
 'Harrison, NY',
 'Chula Vista, CA',
 'Lumberton, NJ',
 'SoHo, NY',
 'Jamesburg, NJ',
 'Fort Washington, MD',
 'Apex, NC',
 'Fort Washington, PA',
 'Everett, MA',
 'Mooresville, AL',
 'Milton, MA',
 'Rockland, MA',
 'Uniondale, NY',
 'Severna Park, MD',
 'La Porte, TX',
 'Schriever AFB, CO',
 'Montgomery County, MD',
 'DeForest, WI',
 'La Puente, CA',
 'Manchester, MA',
 'Westbury, NY',
 'Jessup, MD',
 'Sherman Oaks, CA',
 'Lawrenceville, NJ',
 'Santa Fe Springs, CA',
 'Staten Island, NY',
 'Rego Park, NY',
 'Alabama',
 'Lone Tree, CO',
 'Los Angeles County, CA',
 'Carlstadt, NJ',
 'Metuchen, NJ',
 'Pflugerville, TX',
 'Nottingham, MD',
 'Kentfield, CA',
 'Hurst, TX',
 'Takoma Park, MD',
 'Little Ferry, NJ',
 'Leander, TX',
 'Paramus, NJ',
 'Downey, CA',
 'Concord, NC',
 'Highlands Ranch, CO',
 'Elmwood Park, NJ',
 'Glen Echo, MD',
 'Elmhurst, NY',
 'Lawrenceville, GA',
 'Walnut, CA',
 'Hopewell, NJ',
 'Norwood, MA',
 'Grapevine, TX',
 'Sammamish, WA',
 'Dedham, MA',
 'New Albany, OH',
 'Dobbs Ferry, NY',
 'Port Reading, NJ',
 'Kennesaw, GA',
 'West Windsor, NJ',
 'Auburn, WA',
 'San Dimas, CA',
 'Skillman, NJ',
 'Clark, NJ',
 'Sugar Land, TX',
 'Santa Cruz, CA',
 'Westford, MA',
 'Lafayette, CO',
 'Centreville, VA',
 'Gwinnett County, GA',
 'Clinton, MD',
 'Fort Lee, NJ',
 'Dorchester, MA',
 'Pentagon, DC',
 'Totowa, NJ',
 'Concord, MA',
 'San Leandro, CA',
 'Browns Mills, NJ',
 'Brisbane, CA',
 'Edgewood, MD',
 'Grove City, OH',
 'Keyport, WA',
 'Chelsea, MA',
 'Flemington, NJ',
 'Tarzana, CA',
 'Ambler, PA',
 'Foggy Bottom, DC',
 'Doylestown, PA']

In [49]:
df[df['location'] == 'Alabama']

,job_title,salary,company,location,is_remote,job_rating,job_summary,post_date,extract_date,job_url
15,Deep Learning Engineer,NaN,Numerator,Alabama,NaN,3.6,Demonstrated ability to drive selection of mac...,19 days ago,2021-01-10,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...

In [70]:
df[df['location'] == 'Texas']

,job_title,salary,company,location,is_remote,job_rating,job_summary,post_date,extract_date,job_url
37,Looking for Experienced Business Analyst/Softw...,$35 - $38 an hour,Agama Solutions,Texas,NaN,3.8,"Analyze science, engineering, business, and ot...",30+ days ago,2021-01-11,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
113,Looking for Experienced Business Analyst/Softw...,$35 - $38 an hour,Agama Solutions,Texas,NaN,3.8,"Analyze science, engineering, business, and ot...",30+ days ago,2021-01-11,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
159,Looking for Experienced Business Analyst/Softw...,$35 - $38 an hour,Agama Solutions,Texas,NaN,3.8,"Analyze science, engineering, business, and ot...",30+ days ago,2021-01-11,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
326,Looking for Experienced Business Analyst/Softw...,$35 - $38 an hour,Agama Solutions,Texas,NaN,3.8,"Analyze science, engineering, business, and ot...",30+ days ago,2021-01-11,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
386,Looking for Experienced Business Analyst/Softw...,$35 - $38 an hour,Agama Solutions,Texas,NaN,3.8,"Analyze science, engineering, business, and ot...",30+ days ago,2021-01-11,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...

In [71]:
df[df['location'] == 'New Jersey']

,job_title,salary,company,location,is_remote,job_rating,job_summary,post_date,extract_date,job_url
16,Sr. Data Analyst,NaN,Pitney Bowes,New Jersey,NaN,3.6,"Oversees development, execution and continuati...",6 days ago,2021-01-10,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
42,Looking for Experienced Business Analyst/Softw...,$35 - $38 an hour,Agama Solutions,New Jersey,NaN,3.8,"Analyze science, engineering, business, and ot...",30+ days ago,2021-01-11,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
55,Looking for Experienced Business Analyst/Softw...,$35 - $38 an hour,Agama Solutions,New Jersey,NaN,3.8,"Analyze science, engineering, business, and ot...",30+ days ago,2021-01-11,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
87,Looking for Experienced Business Analyst/Softw...,$35 - $38 an hour,Agama Solutions,New Jersey,NaN,3.8,"Analyze science, engineering, business, and ot...",30+ days ago,2021-01-11,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
102,Looking for Experienced Business Analyst/Softw...,$35 - $38 an hour,Agama Solutions,New Jersey,NaN,3.8,"Analyze science, engineering, business, and ot...",30+ days ago,2021-01-11,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
133,Looking for Experienced Business Analyst/Softw...,$35 - $38 an hour,Agama Solutions,New Jersey,NaN,3.8,"Analyze science, engineering, business, and ot...",30+ days ago,2021-01-11,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...

Only one job is located in 'Alabama'

In [50]:
df = df[df['location'] != 'Alabama']

### Salary

In [72]:
df['salary'].value_counts()

$77.55 - $82.55 an hour       37
$60 - $70 an hour             25
$250,000 a year               22
$126,000 - $165,000 a year    22
$85,225 - $135,355 a year     18
                              ..
$87,198 - $113,362 a year      1
$64,214 - $121,425 a year      1
$60,000 - $75,000 a year       1
$3,763 - $6,149 a month        1
$4,301 - $7,040 a month        1
Name: salary, Length: 585, dtype: int64